@inject TeamDataAnalyzer TeamDataAnalyzer
<div>
    @if (Fields != null)
    {
        string s = (250 + Fields.Count * 80).ToString() + "px";
        Console.WriteLine(s);
        <div>
            <div>
                <SfDropDownList TItem="FieldDto" TValue="string" Placeholder="Select field name to sort by" DataSource="Fields" @bind-Value="@name" Width="250px">
                    <DropDownListFieldSettings Text="Name" Value="Name"></DropDownListFieldSettings>
                    <DropDownListEvents TItem="FieldDto" TValue="string" ValueChange="OnSortValueChange"></DropDownListEvents>
                </SfDropDownList>
            </div>
        </div>


        <SfGrid DataSource="@calculatedData" AllowSorting="true" AllowMultiSorting="true" Width="@s">
            <GridColumns>
                <GridColumn HeaderText="Team" Width="10px">
                    <Template>
                        @{
                            var v = (KeyValuePair<Team, List<FieldAverage>>)context;
                            <div><span class="clickable" @onclick="() => OnTeamGridClicked(v.Key.TeamNumber)">@(v.Key.TeamNumber)</span></div>
                            <div><span class="clickable" @onclick="() => OnTeamGridClicked(v.Key.TeamNumber)"> @(v.Key.Nickname)</span></div>
                        }
                    </Template>
                </GridColumn>

                @for (int i = 0; i < Fields.Count; i++)
                {
                    int index = i;
                    <GridColumn HeaderText="@Fields[index].Name" TextAlign="TextAlign.Center" Width="5px">
                        <Template>
                            @{
                                var v = (KeyValuePair<Team, List<FieldAverage>>)context;
                                var s = v.Value[index].GetFormatedAverage();
                            }
                            <span>@s</span>
                        </Template>
                    </GridColumn>
                }
            </GridColumns>
        </SfGrid>
    }
</div>

@code {
    [Parameter]
    public List<ScoutFormDto> ScoutForms { get; set; }
    [Parameter]
    public List<Team> Teams { get; set; }
    [Parameter]
    public List<FieldDto> Fields { get; set; }
    [Parameter]
    public Func<ScoutFormDto, List<ScoutFormDataDto>> GetTragetList { get; set; }
    [Parameter]
    public EventCallback<int> OnTeamClicked { get; set; }
    private List<KeyValuePair<Team, List<FieldAverage>>> calculatedData;
    private string name = "";

    protected override void OnParametersSet()
    {
        List<KeyValuePair<Team, List<FieldAverage>>> data = new List<KeyValuePair<Team, List<FieldAverage>>>();
        foreach (var team in Teams)
        {
            List<FieldAverage> avgs = TeamDataAnalyzer.CalculateDataFor(Fields, ScoutForms.Where(i => i.TeamNumber == team.TeamNumber).ToList(), GetTragetList, s => true).ToList();

            avgs.ForEach(i => i.Average = float.IsNormal(i.Average) ? i.Average : 0); //TODO: Remove when support for Nan is added in syncfution
            data.Add(new KeyValuePair<Team, List<FieldAverage>>(team, avgs));
        }
        calculatedData = data;
    }

    private void OnTeamGridClicked(int teamNumber)
    {
        OnTeamClicked.InvokeAsync(teamNumber);
    }

    private void OnSortValueChange()
    {
        if(string.IsNullOrWhiteSpace(name))
        {
            return;
        }
        calculatedData = calculatedData.OrderByDescending(pair1 => pair1.Value.Where(f => f.Field.Name == name).Single().Average).ToList();
    }
}
<style>
    .clickable {
        cursor: pointer
    }
</style>