@using System.Dynamic
@using System.Security
@using Newtonsoft.Json
@using OnyxScoutApplication.Client.Others.Objects.Analyzers.TeamData
@inherits TeamsLeaderboard
<div style="width: calc(90vw); height: 90vh">   
    @if (TeamsAndScores != null && TeamsAndScores.Count != 0)
    {
        <SfGrid @ref="Grid" FrozenColumns="1" AllowTextWrap="false" DataSource="@TeamsAndScores" AllowReordering="true"
                AllowFiltering="true" AllowResizing="true" AllowSorting="true" AllowMultiSorting="true"
                Toolbar="@toolbarItems" ShowColumnChooser="true" Width="auto" Height="100%">
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
            <GridEvents Created="LoadHandler" TValue="TeamAndScore"></GridEvents>
            <GridColumns>
                <GridColumn AllowReordering="false" ShowInColumnChooser="false" HeaderText="Team" Field="TeamNumber" AllowFiltering="true"
                            FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })"
                            Width="110px">
                    <Template>
                        @{
                            var v = (TeamAndScore)context;
                            <div>
                                <LinkTabOpener Url="@($"TeamDetails/{v.TeamNumber}")" Text="@v.Nickname"> </LinkTabOpener>
                                <br/>
                                <LinkTabOpener Url="@($"TeamDetails/{v.TeamNumber}")" Text="@v.TeamNumber.ToString()"> </LinkTabOpener>
                            </div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn AutoFit="false" HeaderText="Score" Field="Score" AllowReordering="true"
                            AllowResizing="true" Type="ColumnType.Number">
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
</div>

@code {
    private readonly string[] toolbarItems = { "ColumnChooser" };
    public SfGrid<TeamAndScore> Grid { get; set; }

    private async Task LoadHandler()
    {
        await Grid.AutoFitColumnsAsync(ColumnsFields.Select(i => "RawValue" + i.Id).ToArray());
    }
    
}


<style>
    .clickable {
        cursor: pointer
    }
    
        .e-grid .e-gridheader { 
            position: -webkit-sticky; 
            position: sticky; 
            top: 56px; /* The height of top nav menu. */ 
            z-index: 1; 
        } 
</style>
