@page "/UsersManager/ChangePasswordFor/{Name}"
@inject HttpClientManager Http
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Owner")]

@if (user == null)
{
    <h4>Loading....</h4>
}
else
{
    <EditForm Model="@user" OnValidSubmit="@OnValidSubmit">
        <FluentValidationValidator/>
        <ValidationSummary/>
        
        <div class="form-group col-sm-5">
            <label for="userName">User name</label>
            <input class="form-control" type="text" id="userName" value="@user.UserName" readonly="readonly"/>
        </div>
        <div class="form-group col-sm-5">
            <label >New passsword</label>
            <SfTextBox Type="InputType.Password" @bind-Value="@user.NewPassword"></SfTextBox>

            <label >Confirm new password</label>
            <SfTextBox Type="InputType.Password" @bind-Value="@confirmNewPassword"></SfTextBox>
        </div>
        <ValidationMessage For="() => user.NewPassword"/>
        <div>
            <button type="submit" class="btn btn-primary"> Save </button>
        </div>
    </EditForm>
}

@code {

    [Parameter]
    public string Name { get; set; }

    private string confirmNewPassword;
    private ApplicationUserDto user;
    private List<ApplicationRoleDto> roles;

    protected override async Task OnInitializedAsync()
    {
        roles = await Http.GetJson<List<ApplicationRoleDto>>("ApplicationUser/GetAllRoles");
        user = await Http.GetJson<ApplicationUserDto>("ApplicationUser/" + Name);
        if (user == null)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task OnValidSubmit()
    {
        if (confirmNewPassword != user.NewPassword)
        {
            return;
        }
        if (await Http.TryPutJson("ApplicationUser/" + user.UserName, user))
        {
            NavigationManager.NavigateTo("UsersManager");
        }
    }

    private void RemoveRole(ApplicationUserRoleDto applicationUserRole)
    {
        user.UserRoles.Remove(applicationUserRole);
    }

    private void OnValueSelect(ApplicationUserRoleDto applicationUserRole, ChangeEventArgs<string, ApplicationRoleDto> args)
    {
        Console.WriteLine(args.Value);
        applicationUserRole.Role = roles.FirstOrDefault(i => i.Id == args.Value);
        applicationUserRole.User = user;
    }

    private void AddNewRole()
    {
        user.UserRoles.Add(new ApplicationUserRoleDto {Role = roles[^1], RoleId = roles[^1].Id});
    }

}
