@page "/TeamDetails/Notes/{teamNumber:int}"

@inject HttpClientManager Http
@inject ILocalStorageService LocalStorage
@if (endGameNotes != null)
{
    <h3>Team @TeamNumber</h3>
    <h4>@selectedEvent?.Name</h4>
    <div>
        <h5>Autonomous notes</h5>
        <br/>

        @foreach (var (scoutFormData, writer) in notesByStage)
        {
            foreach (var text in scoutFormData)
            {
                <div>
                    <SfTextBox Value="@text.StringValue" Width="60%" Readonly="true" Multiline="true"></SfTextBox>
                    <span>@writer</span>
                </div>
                <br/>
            }
        }

        <h5>Teleoperated notes</h5>
        <br/>

        @foreach (var (scoutFormData, writer) in teleoperatedNotes)
        {
            foreach (var text in scoutFormData)
            {
                <div>
                    <SfTextBox Value="@text.StringValue" Width="60%" Readonly="true" Multiline="true"></SfTextBox>
                    <span>@writer</span>
                </div>
                <br/>
            }
        }

        <h5>End game notes</h5>
        <br/>

        @foreach (var (scoutFormData, writer) in endGameNotes)
        {
            foreach (var text in scoutFormData)
            {
                <div>
                    <SfTextBox Value="@text.StringValue" Width="60%" Readonly="true" Multiline="true"></SfTextBox>
                    <span>@writer</span>
                </div>
                <br/>
            }
        }
    </div>
}

@code {

    [Parameter]
    public int TeamNumber { get; set; }

    private Dictionary<string, List<Tuple<ScoutFormDataDto[], string>>> notesByStage;
    private Event selectedEvent;

    protected override async Task OnInitializedAsync()
    {
        selectedEvent = await LocalStorage.GetItemAsync<Event>("EventSelector/SelectedEventKey");
        if (selectedEvent == null)
        {
            return;
        }

        var result = await Http.GetJson<List<ScoutFormDto>>("ScoutForm/GetAllByTeam/" + TeamNumber + "/" + selectedEvent.Key);

        foreach (var form in result)
        {
            
        }

    /*
           SelectMany(i => i.Value).
            Where(i => i.Field.FieldType == FieldType.TextField).ToArray().ToLookup(i => i.Field.FieldStage).
            ToDictionary(ii => ii.Key, iii => new Tuple<ScoutFormDataDto[], string>(iii.ToArray(), i.WriterUserName))).ToDictionary(i => i.Key, i=> i.Value);


    }

}
