@*
@page "/TeamDetails/{TeamNumber:int}"
@using OnyxScoutApplication.Shared.Models.ScoutFormFormatModels
@using OnyxScoutApplication.Shared.Models.ScoutFormModels
@using System.IO
@using OnyxScoutApplication.Shared.Other.Analyzers
@using OnyxScoutApplication.Shared.Other.Analyzers.TeamData
@using Syncfusion.Blazor.Data
@inject HttpClientManager Http
@inject ILocalStorageService LocalStorage
@inject ISessionStorageService SessionStorage
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

@attribute [OnyxAuthorize(Role = Role.Scouter)]


@if (calculatedScoutDataByStages is not null && calculatedPitScoutDataByStages is not null && selectedData is not null)
{
    <h3>Team @TeamNumber</h3>
    <h4>@teamName</h4>
    <h4>@selectedEvent?.Name</h4>
    <DateTimeRangePicker MinDate="minDate" MaxDate="maxDate" OnDateTimeRangeSelected="OnDateTimeRangeSelected"></DateTimeRangePicker>
    <br/>
    <h6>Selected @selectedData.Count forms</h6>
    <br/>
    $1$<a href="/TeamDetails/Notes/@TeamNumber">Notes</a>#1#
    <div>
    <CollapsibleView ValueChanged="@(i => isCollapsed = !i)"></CollapsibleView>
    </div>
    <div class="form-group col-lg-6 col-md-6 collapse @(!isCollapsed ? "show" : "")" style="padding-left:2em">
        <TeamNotes Forms="selectedData"></TeamNotes>
         @if (pitScoutForms.Count != 0 && pitScoutForms[0].IsImageUploaded && !isCollapsed)
         {
             <br>
             string s = $"{pitScoutForms[0].ImageName}";
             <img src="@s" alt="@pitScoutForms[0].TeamNumber Robot image" class="img"
                  style="max-width: 400px; max-height: 400px"/>
         }
    </div>
   
    <br/>
    foreach (var (key, value) in calculatedScoutDataByStages)
    {
        <h5>@key</h5>
        <TeamAnalyticGrid CalculatedData="@value"></TeamAnalyticGrid>
        <br/>
    }
    
    <br/>
    <h4>Pit scouting</h4>
    <br/>

    foreach (var (key, value) in calculatedPitScoutDataByStages)
    {
        <h5>@key</h5>
        <TeamAnalyticGrid CalculatedData="@value"></TeamAnalyticGrid>
        <br/>
    }

    <br/>
    <MatchesGrid Matches="@matches" OnTeamClicked="@(async t => await OnTeamClicked(t))">
        <MatchGridSettings SubmittedForms = "@selectedData" TeamNumber = "@TeamNumber" ></MatchGridSettings>
    </MatchesGrid>
}

@code {

    [Parameter]
    public int TeamNumber { get; set; }

    private string teamName;
    private Event selectedEvent;
    private List<FormDto> data;
    private List<FormDto> selectedData;
    private Dictionary<string, List<TeamFieldAverage>> calculatedScoutDataByStages;
    private Dictionary<string, List<TeamFieldAverage>> calculatedPitScoutDataByStages;
    private List<FormDto> pitScoutForms;
    private List<Match> matches;
    private bool isCollapsed = true;
    private DateTime minDate;
    private DateTime maxDate;
    private ScoutFormFormatDto format;

    protected override async Task OnInitializedAsync()
    {
        var teams = await SessionStorage.GetItemAsync<List<Team>>("TheBlueAlliance.AllTeams");
        var team = teams.SingleOrDefault(i => i.TeamNumber == TeamNumber);
        if (team is null)
        {
            NavigationManager.NavigateTo("");
            return;
        }

        teamName = team.Nickname;
        
        selectedEvent = await LocalStorage.GetItemAsync<Event>("EventSelector/SelectedEventKey");
        if (selectedEvent == null)
        {
            return;
        }
        format = await Http.GetJson<ScoutFormFormatDto>($"ScoutFormFormat/ByYear/{selectedEvent.Year}");
        var result = await Http.GetJson<List<FormDto>>($"ScoutForm/GetAllByTeam/{TeamNumber}/{selectedEvent.Key}");
        
        data = result.OrderBy(i => i.KeyName).ToList();
        
        matches = (await Http.GetJson<List<Match>>
            ("TheBlueAlliance/GetMatchesByTeamAndEvent/" + TeamNumber + "/" + selectedEvent.Key))
            .OrderBy(i => i.Date).ToList();
        
        var pirScoutFormat = await Http.GetJson<ScoutFormFormatDto>($"ScoutFormFormat/ByYear/{selectedEvent.Year}/{ScoutFormType.Pit}");
        pitScoutForms = await Http.GetJson<List<FormDto>>($"ScoutForm/GetAllByTeam/{TeamNumber}/{selectedEvent.Key}/{ScoutFormType.Pit}");
        calculatedPitScoutDataByStages = new Dictionary<string, List<TeamFieldAverage>>();
        foreach (var fieldsInStage in pirScoutFormat.FieldsInStages)
        {
            calculatedPitScoutDataByStages.Add(fieldsInStage.Name, 
                TeamDataAnalyzer.CalculateDataFor(fieldsInStage, pitScoutForms, _ => true, true));
        }
        
        var formsByDates = data.OrderBy(f => f.DateTime).ToList();
        if (!formsByDates.Any())
        {
            return;
        }
        minDate = formsByDates.First().DateTime.DateTime - TimeSpan.FromMinutes(5);
        maxDate = formsByDates.Last().DateTime.DateTime + TimeSpan.FromMinutes(5);
        ChangeSelctedData(minDate, maxDate);
    }

    private async Task OnTeamClicked(TeamInMatch teamInMatch)
    {
        if (teamInMatch.TeamNumber != TeamNumber)
        {
            NavigationManager.NavigateTo("TeamDetails/" + teamInMatch.TeamNumber);
            await OnInitializedAsync();
            StateHasChanged();
            return;
        }

        if (teamInMatch.Form is not null)
        {
            await JsRuntime.InvokeVoidAsync("open", $"ScoutForm/View/{teamInMatch.Form.Id}", "_blank");
        }
    }
    
    private void OnDateTimeRangeSelected(DateTimeRangePicker.DateTimeSelectedEventArgs obj)
    {
        ChangeSelctedData(obj.StartDateTime, obj.EndDateTime);
    }

    private void ChangeSelctedData(DateTime startDateTime, DateTime endDateTime)
    {
        selectedData = data.Where(f => f.DateTime <= endDateTime && f.DateTime >= startDateTime).ToList();
        calculatedScoutDataByStages = new Dictionary<string, List<TeamFieldAverage>>();
        foreach (var fieldsInStage in format.FieldsInStages)
        {
            calculatedScoutDataByStages.Add(fieldsInStage.Name,
                TeamDataAnalyzer.CalculateDataFor(fieldsInStage, selectedData, _ => true));
        }
    }

}
*@
