@using Syncfusion.Blazor.Inputs

@inherits FormInputBase<int?>
<div>
    @if (IsEditMode)
    {
        <label for="name">Field default value</label>
    }
    <SfNumericTextBox @bind-Value="ValueBind"/>
    <ValidationMessage For="@ValueExpression" />
</div>
@if (IsEditMode)
{
    <div>
        <SfCheckBox Label="Required" CssClass="e-big" @bind-Checked="Field.Required"/>
        <ValidationMessage For="@(() => Field.Required)" />
    </div>

    <div>
        <label for="name">Min value</label>
        <SfNumericTextBox @bind-Value="@Field.MinValue"/>
        <ValidationMessage For="@(() => Field.MinValue)" />
    </div>
    <div>
        <label for="name">Max value</label>
        <SfNumericTextBox @bind-Value="@Field.MaxValue"/>
        <ValidationMessage For="@(() => Field.MaxValue)" />
    </div>
}
