@using Syncfusion.Blazor.Inputs
@using System.Diagnostics.CodeAnalysis;

@inherits SettingsInputBase
<div>
    <label>Field default value</label>
    <NumricFieldComponent @bind-Value="@Field.NumericDefaultValue"/>
</div>
<div>
    <SfCheckBox Label="Required" CssClass="e-big" @bind-Checked="Field.Required"/>
    <ValidationMessage For="@(() => Field.Required)"/>
</div>
<div>
    <label>Min value</label>
    <SfNumericTextBox @bind-Value="@Field.MinValue"/>
    <ValidationMessage For="@(() => Field.MinValue)"/>
</div>
<div>
    <label>Max value</label>
    <SfNumericTextBox @bind-Value="@Field.MaxValue"/>
    <ValidationMessage For="@(() => Field.MaxValue)"/>
</div>

@code {

}
