@using Syncfusion.Blazor.Inputs
@using System.Diagnostics.CodeAnalysis;
@inherits SettingsInputBase

<div>
    <label>Field default value</label>
    <OptionSelectFieldComponent Options="@Field.Options" @bind-Value="@Field.DefaultSelectedOptions"/>
</div>
    <div>
        <SfCheckBox Label="Required" CssClass="e-big" @bind-Checked="Field.Required"/>
        <ValidationMessage For="@(() => Field.Required)"/>
    </div>
    @foreach (var (item, index) in Field.Options.Select((x, i) => (x, i)))
    {
        <div>
            <button type="button" class="btn btn-danger" @onclick="() => RemoveOption(index)">Remove option</button>
            @{ var v = item.Name; }
            <SfTextBox Value="@v" Input="a => Update(a, index)"></SfTextBox >
        </div>
    }
    <ValidationMessage For="@(() => Field.Options)"/>
    <br/>
    <div>
        <button type="button" class="btn btn-dark" @onclick="AddOption">Add option</button>
    </div>

@code {

    protected override Task OnInitializedAsync()
    {
       // Field.Options.Select(i => new OptionDto {Name = i}).ToList();
        return base.OnInitializedAsync();
    }

    private void AddOption()
    {
        Field.Options.Add(new OptionDto());
    }

    private void RemoveOption(int index)
    {
        Field.Options.RemoveAt(index);
    }

    private void Update(InputEventArgs args, int index)
    {
        Field.Options[index].Name = args.Value;
        StateHasChanged();
    }

}
