@using Syncfusion.Blazor.Inputs
@using System.Diagnostics.CodeAnalysis;
@inherits SettingsInputBase

<div>
    <label>Field default value</label>
    <OptionSelectFieldComponent Options="@Field.Options" @bind-Value="@Field.TextDefaultValue"/>
</div>
    <div>
        <SfCheckBox Label="Required" CssClass="e-big" @bind-Checked="Field.Required"/>
        <ValidationMessage For="@(() => Field.Required)"/>
    </div>
    @foreach (var (item, index) in options.Select((x, i) => (x, i)))
    {
        <div>
            <button type="button" class="btn btn-danger" @onclick="() => RemoveOption(index)">Remove option</button>
            @{ var v = item.OptionText; }
            <SfTextBox Value="@v" Input="a => Update(a, index)"></SfTextBox >
        </div>
    }
    <ValidationMessage For="@(() => Field.Options)"/>
    <br/>
    <div>
        <button type="button" class="btn btn-dark" @onclick="AddOption">Add option</button>
    </div>

@code {
    private List<Option> options = new List<Option>();

    protected override Task OnInitializedAsync()
    {
        options = Field.Options.Select(i => new Option {OptionText = i}).ToList();
        return base.OnInitializedAsync();
    }

    private void AddOption()
    {
        options.Add(new Option());
        Field.Options = options.Select(i => i.OptionText).ToList();
    }

    private void RemoveOption(int index)
    {
        options.RemoveAt(index);
        Field.Options = options.Select(i => i.OptionText).ToList();
    }

    private void Update(InputEventArgs args, int index)
    {
        options[index].OptionText = args.Value;
        Field.Options = options.Select(i => i.OptionText).ToList();
        StateHasChanged();
    }

}
