@using OnyxScoutApplication.Shared.Models.ScoutFormFormatModels
<EditForm Model="@ScoutFormFormat" OnValidSubmit="@OnValidSubmit">
    <FluentValidationValidator DisableAssemblyScanning="@true"/>
    <ValidationSummary/>

    <div class="form-group col-sm-5">
        <div>
            <label>Year</label>
            <InputNumber class="form-control" @bind-Value="ScoutFormFormat.Year"/>
            <ValidationMessage For="@(() => ScoutFormFormat.Year)"/>
        </div>
        <br/>
    </div>
    <div class="form-group col-sm-5">
        <div>
            <label>Stage name</label>
            <SfTextBox @bind-Value="newStageName"/>
        </div>
        <div>
            <SfButton type="button" @onclick="OnAddStageClick">Add stage</SfButton>
        </div>
        <br/>
        @if (Type == FormType.Update)
        {
            <AuthorizeView Context="Auth" Roles="@(Role.Owner.ToString())">
                <div>
                    <SfButton type="button" CssClass="@cssClass" IsToggle="true" Content="@safeModeButtonText"
                              @onclick="ToggleSafeMode"/>
                </div>
            </AuthorizeView>
        }
    </div>

    @for (var i = 0; i < ScoutFormFormat.FieldsInStages.Count; i++)
    {
        var fieldsInStage = ScoutFormFormat.FieldsInStages[i];
        var index = i;
        var safeToChnage = Type == FormType.Create || fieldsInStage.IsNew;
        <ValidationMessage For="@(() => fieldsInStage)"/>
        <div class="e-icons" style="display: inline-block">
            <h3 style="display: inline-block">@fieldsInStage.Name</h3>
            @if (!safeMode || safeToChnage)
            {
                <SfButton type="button" CssClass="e-danger" @onclick="() => RemoveStage(fieldsInStage)">Remove stage</SfButton>
            }
            <SfButton Disabled="@(index == 0)" type="button" CssClass="e-primary e-round"
                      IconCss="e-icons e-triangleUp" @onclick="() => MoveUp(index)">
            </SfButton>
            <SfButton Disabled="@(index >= ScoutFormFormat.FieldsInStages.Count - 1)" type="button" CssClass="e-primary e-round"
                      IconCss="e-icons e-triangleDown" @onclick="() => MoveDown(index)">
            </SfButton>
        </div>
        <br>
        <br>
        <div>
            <CollapsibleView @bind-Value="@fieldsInStage.IsCollapsed"/>
        </div>
        <div class="form-group col-lg-6 col-md-6 collapse @(fieldsInStage.IsCollapsed ? "show" : "")" style="padding-left:2em">
            <FieldsEditor SafeModeEnabled="safeMode" FormType="Type" Fields="fieldsInStage.Fields"></FieldsEditor>
        </div>
        <br>
 }

    <br/>
    @{ var v = Type == FormType.Create ? "Add" : "Save"; }
    <button type="submit" class="btn btn-primary">@v</button>
</EditForm>

@code {

    [Parameter]
    public ScoutFormFormatDto ScoutFormFormat { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public FormType Type { get; set; }

    private string safeModeButtonText;
    private SfButton toggleSafeModeButton;
    private string newStageName;
    private bool safeMode;
    private string cssClass;

    protected override void OnInitialized()
    {
        ToggleSafeMode();
    }

    private void OnValidSubmit()
    {
        for (var i = 0; i < ScoutFormFormat.FieldsInStages.Count; i++)
        {
            ScoutFormFormat.FieldsInStages[i].Index = i;
        }
        ScoutFormFormat.FieldsInStages.ForEach(i => UpdateFieldIndex(i.Fields));
        OnSubmit.InvokeAsync(this);
    }

    private void UpdateFieldIndex(List<FieldDto> fields)
    {
        for (var i = 0; i < fields.Count; i++)
        {
            fields[i].Index = i;
            UpdateFieldIndex(fields[i].CascadeFields);
        }
    }

    private void OnAddStageClick()
    {
        if (string.IsNullOrEmpty(newStageName))
        {
            return;
        }

        if (ScoutFormFormat.FieldsInStages.Any(i => i.Name == newStageName))
        {
            return;
        }
        ScoutFormFormat.FieldsInStages.Add(new FieldsInStageDto() {Name = newStageName, IsNew = true});
    }

    private void RemoveStage(FieldsInStageDto stage)
    {
        ScoutFormFormat.FieldsInStages.Remove(stage);
    }

    private void MoveUp(int index)
    {
        var field = ScoutFormFormat.FieldsInStages[index];
        ScoutFormFormat.FieldsInStages.RemoveAt(index);
        ScoutFormFormat.FieldsInStages.Insert(index - 1, field);
    }

    private void MoveDown(int index)
    {
        var field = ScoutFormFormat.FieldsInStages[index];
        ScoutFormFormat.FieldsInStages.RemoveAt(index);
        ScoutFormFormat.FieldsInStages.Insert(index + 1, field);
    }

    private void ToggleSafeMode()
    {
        safeMode = !safeMode;
        if (safeMode)
        {
            safeModeButtonText = "Disable safe mode";
            cssClass = "e-danger";
        }
        else
        {
            safeModeButtonText = "Enable safe mode";
            cssClass = "e-success";
        }
    }

}
