@using System.Diagnostics.CodeAnalysis
@using OnyxScoutApplication.Shared.Models.ScoutFormFormatModels
@inherits SettingsInputBase

<div>
    <SfCheckBox Label="Required" CssClass="e-big" @bind-Checked="@Field.Required"/>
    <ValidationMessage For="@(() => Field.Required)"/>
</div>
<div>
    <SfCheckBox Label="Allow manual time input" CssClass="e-big" @bind-Checked="@Field.AllowManualInput"/>
    <ValidationMessage For="@(() => Field.AllowManualInput)"/>
</div>
<div>
    <label>Min value</label>
    <SfNumericTextBox @bind-Value="@Field.MinValue"/>
    <ValidationMessage For="@(() => Field.MinValue)"/>
</div>
<div>
    <label>Max value</label>
    <SfNumericTextBox @bind-Value="@Field.MaxValue"/>
    <ValidationMessage For="@(() => Field.MaxValue)"/>
</div>

@code {
   
   
}
