@using Syncfusion.Blazor.Grids
@using System.Linq
@inject NavigationManager NavigationManager
@if (Matches != null && Matches.Count != 0)
{
    <SfGrid DataSource="@Matches" AllowSorting="true" AllowFiltering="true" Height="@Height">
        <GridPageSettings PageSize="10"></GridPageSettings>
        <GridEvents QueryCellInfo="CustomizeCell" TValue="Match"></GridEvents>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridColumns>
            <GridColumn Field=@nameof(Match.MatchNumber) HeaderText="Match number" Width="120"></GridColumn>
            <GridColumn Field=@nameof(Match.Date) HeaderText="Match date" Format="dd/MM/yyyy HH:mm" Type="ColumnType.DateTime" Width="150"></GridColumn>
            @for (int i = 0; i < Matches[0].Alliances.Blue.TeamKeys.Count; i++)
            {
                var headName = "Blue team " + (i + 1);
                int index = i;
                <GridColumn HeaderText="@headName" Width="120">
                    <Template>
                        @{
                            var match = context as Match;
                            var teamNumber = match.Alliances.Blue.GetTeamAt(index);
                            <span class="@GetTeamTextStyle(teamNumber, match.Key)" @onclick="() => OnGridTeamClicked(match, teamNumber)">@(teamNumber)</span>
                        }
                    </Template>
                </GridColumn>
            }
            <GridColumn Field="Alliances.Blue.Score" HeaderText="Blue Score" TextAlign="TextAlign.Right" Width="120"></GridColumn>
            <GridColumn Field="Alliances.Red.Score" HeaderText="Red Score" TextAlign="TextAlign.Left" Width="120"></GridColumn>
            @for (int i = 0; i < Matches[0].Alliances.Red.TeamKeys.Count; i++)
            {
                var headName = "Red team " + (i + 1);
                int index = i;
                <GridColumn HeaderText="@headName" Width="120">
                    <Template>
                        @{
                            var match = context as Match;
                            var teamNumber = match.Alliances.Red.GetTeamAt(index);
                            <span class="@GetTeamTextStyle(teamNumber, match.Key)" @onclick="() => OnGridTeamClicked(match, teamNumber)">@(teamNumber)</span>
                        }
                    </Template>
                </GridColumn>
            }
            <GridColumn HeaderText="Winning alliance" Width="120"></GridColumn>
        </GridColumns>
    </SfGrid>
}
@code {
    [Parameter]
    public List<Match> Matches { get; set; }
    [Parameter]
    public int TeamNumber { get; set; }
    [Parameter]
    public List<ScoutFormDto> SubmittedForms { get; set; }
    [Parameter]
    public string Height { get; set; } = "100%";
    [Parameter]
    public EventCallback<TeamInMatch> OnTeamClicked { get; set; }

    public void CustomizeCell(QueryCellInfoEventArgs<Match> args)
    {
        if (args.Column.HeaderText.Contains("Blue")) //Cell color based on alliance color
        {
            args.Cell.AddClass(new string[] { "blue" });
        }
        else if (args.Column.HeaderText.Contains("Red"))
        {
            args.Cell.AddClass(new string[] { "red" });

        }
        else if (args.Column.HeaderText == "Winning alliance") //"WinningAlliance" Cell color
        {
            args.Cell.AddClass(new string[] { args.Data.WinningAlliance });
        }
    }

    private string GetTeamTextStyle(int teamNumber, string matchName)  //Team's text style (bold, color and clickable)
    {
        string classes = "";
        if (teamNumber == TeamNumber)
        {
            classes += "targetTeam ";
        }
        else
        {
            classes += "clickable ";
        }

        if (SubmittedForms == null) return classes;
        
        if (SubmittedForms.Any(form => form.TeamNumber == teamNumber && form.MatchName == matchName))
        {
            classes += "filledTeamForm ";
        }
        else
        {
            classes += "notFilledTeamForm ";
        }
        return classes;
    }

    private void OnGridTeamClicked(Match match, int teamNumber)
    {
        bool isFormExists = SubmittedForms != null && SubmittedForms.Any(form => form.TeamNumber == teamNumber && form.MatchName == match.Key);
        OnTeamClicked.InvokeAsync(new TeamInMatch { TeamNumber = teamNumber, Match = match, IsFormExists = isFormExists });
    }
}

<style>
    .red {
        background-color: indianred;
    }

    .blue {
        background-color: royalblue
    }

    .targetTeam {
        font-weight: bold
    }

    .clickable {
        cursor: pointer
    }

    .filledTeamForm {
        color: lawngreen;
    }

    .notFilledTeamForm {
        color: darkred
    }
</style>