<div class="top-row pl-5 navbar navbar-dark align-content-center align-items-center">
    <img src="icon-512.png" alt="" style="max-width: 27px;"/>
    <a class="navbar-brand" href="">Onyx scouter</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column" style="width: 250px">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <OnyxAuthorizeView Role="@(Role.Scouter)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="EventAnalytics">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Event analytics
                </NavLink>
            </li>
        </OnyxAuthorizeView>
        <OnyxAuthorizeView Role="@(Role.Scouter)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="EventAnalytics/Settings">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Event analytics settings
                </NavLink>
            </li>
        </OnyxAuthorizeView>
        <OnyxAuthorizeView Role="@(Role.Scouter)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ScoutForms">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Scout forms
                </NavLink>
            </li>
        </OnyxAuthorizeView>
        <OnyxAuthorizeView Role="@(Role.Scouter)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="LocalScoutForms">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Local scout forms
                </NavLink>
            </li>
        </OnyxAuthorizeView>
        <OnyxAuthorizeView Role="@(Role.Scouter)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="PitScoutForms">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Pit scout forms
                </NavLink>
            </li>
        </OnyxAuthorizeView>
        <OnyxAuthorizeView Role="@(Role.Scouter)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="PitScouting">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Pit scouting
                </NavLink>
            </li>
        </OnyxAuthorizeView>
        <OnyxAuthorizeView Role="@(Role.Admin)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ScoutFormFormats">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Scout form formats
                </NavLink>
            </li>
        </OnyxAuthorizeView>
        <OnyxAuthorizeView Role="@(Role.Admin)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="CustomEvents">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Custom Event
                </NavLink>
            </li>
        </OnyxAuthorizeView>
        <OnyxAuthorizeView Role="@(Role.Owner)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="UsersManager">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage users
                </NavLink>
            </li>
        </OnyxAuthorizeView>
        <OnyxAuthorizeView Role="@(Role.Scouter)">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ScoutFormEmrg/Create">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Scout form emrg
                </NavLink>
            </li>
        </OnyxAuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
