@page "/ScoutForms"
@using OnyxScoutApplication.Shared.Models.ScoutFormModels
@using System.Security.Claims
@inject NavigationManager navigationManager
@inject HttpClientManager http
@attribute [OnyxAuthorize(Role = Role.Scouter)]
<h1>ScoutForms</h1>
@if (scoutForms == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Team number</th>
            <th>Year</th>
            <th>Match name</th>
            <th>Writer user name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var scoutForm in scoutForms)
        {
            <tr>
                <td>@scoutForm.TeamNumber</td>
                <td>@scoutForm.Year</td>
                <td>@scoutForm.MatchName</td>
                <td>@scoutForm.WriterUserName</td>
                @* <OnyxAuthorizeView Role="@(Role.Admin)"> *@
                @{ bool isAllowedToEdit = user.Identity!.Name == scoutForm.WriterUserName
                                          || user.IsInRole(Role.Admin.ToString());}
                <SfButton CssClass="@(isAllowedToEdit ? "e-warning" : "")" @onclick="() => Edit(scoutForm)" 
                          Disabled="@(!isAllowedToEdit)">Edit
                    </SfButton>
                @* </OnyxAuthorizeView> *@
                <ButtonTabOpener CssClass="e-info" Url="@($"ScoutForm/View/{scoutForm.Id}")" Style="margin-left :5px"  
                                 Text="View">
                </ButtonTabOpener>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private ClaimsPrincipal user;
    private List<FormDto> scoutForms;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        user = authState.User;
        scoutForms = await http.GetJson<List<FormDto>>("ScoutForm");
    }

    private void Edit(FormDto form)
    {
        navigationManager.NavigateTo("ScoutForm/Edit/" + form.Id);
    }
    
    private void View(FormDto form)
    {
        navigationManager.NavigateTo("ScoutForm/View/" + form.Id);
    }

}
