@page "/CustomEvents"
@inject NavigationManager NavigationManager
@inject HttpClientManager Http
@inject ILocalStorageService LocalStorage

@attribute [OnyxAuthorize(Role = Role.Admin)]

<h3>IndexCustomEvent</h3>
<SfButton @onclick="@(() => NavigationManager.NavigateTo("CustomEvents/Create"))" >Create</SfButton>
@if (events != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Team number</th>
            <th>Year</th>
            <th>Country</th>
            <th>Key</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customEvent in events)
        {
            <tr>
                <td>@customEvent.Name</td>
                <td>@customEvent.Year</td>
                <td>@customEvent.Country</td>
                <td>@customEvent.Key</td>
                <SfButton CssClass="e-warning" @onclick="() => Edit(customEvent)">Edit</SfButton>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    List<CustomEventDto> events;

    protected override async Task OnInitializedAsync()
    {
        var selectedYear = await LocalStorage.GetItemAsync<int>("EventSelector/SelectedYearFilter");
        if (selectedYear == 0)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        events = await Http.GetJson<List<CustomEventDto>>("CustomEvent/GetAllEventsByYear/" + selectedYear);
    }
    
    private void Edit(CustomEventDto customEvent)
    {
        NavigationManager.NavigateTo("CustomEvent/Edit/" + customEvent.Id);
    }

}
